# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: bookstore-ingress
#   namespace: bookstore-platform
# spec:
#   rules:
#   - http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: frontend
#             port:
#               number: 80
